body{
    background-image: url(../images/space.jpg);
}
.heading{
    text-align: center;
}
#stats{
    color: white;
}
#answer{
    background-color: black;
    border: solid white 2px;
}

#picTile{
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
}
#letters{
    background-color: black;
    border: solid white 2px;
    height: 200px;

}